@media (max-width: 1140px) {
    .header {
        width: 100%;

    }

    .header_nav-content {
        flex-direction: column;
    }
    .logo {
        margin-top: 60px;
        
      }
}

@media (max-width: 719px) {
   .logo {
     margin-top: 60px;
     
     
   }
   .header__nav-content-link-list {
        margin-top: 30px;
   }

}

@media (max-width: 530px) {
    .header__nav-content-link-list {
     
       
   }
    .header__nav-content-input {
        margin-top: 30px;
       
    }
 }

 @media (max-width: 397px) {
    .header {
        width: 100vh;
    }
    .logo {
        margin-left: 160px;
        
        
      }
 }